body {
    background-color: rgb(255, 255, 165);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.image{
    border: 5px solid green;
    border-radius: 10px;
    height: 450px;
    opacity: 0;
    animation: fadeIn  0.8s ease forwards;
}

@keyframes fadeIn {
  to {
    height: 400px;
    opacity: 1;
  }
}

.link-button {
    text-decoration: none;
    color: black;
    border: 1px solid gray;
    background-color: #f2f2f2;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 2px 3px #888888;
}

h1 {
    text-shadow: #414141;
}